<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="episerver.search.indexingservice" type="EPiServer.Search.IndexingService.Configuration.IndexingServiceSection, EPiServer.Search.IndexingService"/>
  </configSections>
  <system.web>
    <compilation debug="false">
      <assemblies/>
    </compilation>
  </system.web>
  <episerver.search.indexingservice>
    <clients>
      <!--add name="example" description="example" ipAddress="127.0.0.1/8,192.168.0.0/24" ip6Address="" allowLocal="true|false" readonly="true|false" /-->
      <add name="local" description="local" allowLocal="true" readonly="false"/>
    </clients>
    <namedIndexes defaultIndex="default">
      <indexes>
        <add name="default" directoryPath="App_Data\default" readonly="false"/>
      </indexes>
    </namedIndexes>
  </episerver.search.indexingservice>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <bindings>
      <webHttpBinding>
        <binding name="IndexingServiceCustomBinding" maxBufferPoolSize="1073741824" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxStringContentLength="10000000"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <location path="IndexingService.svc">
    <system.web>
      <httpRuntime maxQueryStringLength="65536"/>
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="65536"/>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>