<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
    </providers>
  </virtualRoles>
  <geolocation>
    <providers />
  </geolocation>
  <virtualPathProviders>
    <clear />
  </virtualPathProviders>
</episerver.framework>